{% extends 'base.html.twig' %}

{% block title %}Hello TestController!{% endblock %}

{% block body %}
    {% from "pokemon/_evolution_chain.html.twig" import recursiveChainLink %}

    <div class="d-flex flex-column">
        {{ dump(evolutionChain) }}

        <section class="my-4 p-4 rounded">
            {{ recursiveChainLink(evolutionChain.chain) }}
        </section>
    </div>
{% endblock %}
