{% extends 'base.html.twig' %}

{% block body %}
<div class="container mt-5">
    <h1 class="display-4">Hello Bootstrap with AssetMapper!</h1>
    
    <button type="button" class="btn btn-primary">Primary Button</button>
    
    <div class="alert alert-success mt-3" role="alert">
        Bootstrap is working! ✅
    </div>
</div>
{% endblock %}